<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1><%= @comment %></h1>
<p>
  You have been asked to estimate the ready state cards for your project,
 <br>
</p>
<p>
  To start estimating use this url: <h3><%= @url %></h3>.
</p>
<p>Thanks have a great day!</p>
</body>
</html>