<div class="table-responsive">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Card Number</th>
      <th>Name</th>
      <th>Description</th>
      <th>Estimate</th>
    </tr>
    </thead>

    <tbody>
      <%@db_cards.each do |card| %>
        <tr>
          <td><%= link_to card.number,show_card_projects_path(:id=>card.id), :class => "btn btn-primary" %></td>
          <td><%= truncate(card.url,:length=>25) %></td>
          <td><%= truncate(Sanitize.clean(card.description), :length=>50)  %></td>
          <td><%= card.estimate %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>

